.vk-video-tool {
  position: relative;
}

.vk-video-tool__input {
  padding-left: 38px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.84961 5H14.1504C15.3314 5 16.2123 5.0648 16.8789 5.21289C17.5339 5.35845 17.9194 5.57096 18.1738 5.8252C18.4282 6.07952 18.6414 6.46488 18.7871 7.12012C18.9353 7.78677 19 8.66807 19 9.84961V14.1504C19 15.3314 18.9352 16.2123 18.7871 16.8789C18.6416 17.5339 18.429 17.9194 18.1748 18.1738C17.9205 18.4282 17.5351 18.6414 16.8799 18.7871C16.2132 18.9353 15.3319 19 14.1504 19H9.84961C8.66859 19 7.78769 18.9352 7.12109 18.7871C6.46605 18.6416 6.08059 18.429 5.82617 18.1748C5.57179 17.9205 5.3586 17.5351 5.21289 16.8799C5.06466 16.2132 5 15.3319 5 14.1504V9.84961C5 8.66859 5.0648 7.78769 5.21289 7.12109C5.35845 6.46605 5.57096 6.08059 5.8252 5.82617C6.07952 5.57179 6.46488 5.3586 7.12012 5.21289C7.78677 5.06466 8.66807 5 9.84961 5Z' stroke='%23707684' stroke-width='2'%3E%3C/path%3E %3Cpath d='M12.5969 5H14.1213C16.514 5 17.578 5.27605 18.1292 5.78711C18.6572 6.27676 18.9707 7.23095 18.9973 9.50293V9.50488C18.9988 9.61533 18.9983 9.72691 18.9983 9.84961V14.1504L18.9963 14.4727C18.9721 16.7571 18.6606 17.7174 18.1321 18.21C17.871 18.4532 17.4768 18.6574 16.8196 18.7969C16.1535 18.9382 15.2801 19 14.1213 19H12.5969C11.4097 19 10.5235 18.9355 9.85278 18.7871C9.19339 18.6412 8.8052 18.4277 8.54907 18.1729C8.29331 17.9182 8.07997 17.5325 7.93384 16.8779C7.78516 16.2118 7.71997 15.3313 7.71997 14.1504V9.84961C7.71997 8.6687 7.78516 7.78821 7.93384 7.12207C8.07997 6.4675 8.29331 6.08178 8.54907 5.82715C8.8052 5.57226 9.19339 5.35883 9.85278 5.21289C10.5235 5.06446 11.4097 5 12.5969 5Z' stroke='%23707684' stroke-width='2'%3E%3C/path%3E %3Cpath d='M15.2896 10.6162C16.0976 11.0834 16.5024 11.317 16.6384 11.621C16.7568 11.8866 16.7568 12.1906 16.6384 12.4562C16.5024 12.7602 16.0976 12.9938 15.2896 13.461L13.0736 14.741C12.264 15.2098 11.8592 15.4418 11.528 15.4082C11.2384 15.3778 10.9744 15.2258 10.8048 14.9906C10.6096 14.7202 10.6096 14.2546 10.6096 13.3202V10.7602C10.6096 9.82737 10.6096 9.36017 10.8048 9.08977C10.976 8.85457 11.2384 8.70257 11.528 8.67217C11.8608 8.63697 12.264 8.87057 13.0736 9.33777L15.2896 10.6162Z' fill='%23707684'%3E%3C/path%3E %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vk-video-tool__input-holder {
  position: relative;
}

.vk-video-tool__input-holder--error .vk-video-tool__input {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.84961 5H14.1504C15.3314 5 16.2123 5.0648 16.8789 5.21289C17.5339 5.35845 17.9194 5.57096 18.1738 5.8252C18.4282 6.07952 18.6414 6.46488 18.7871 7.12012C18.9353 7.78677 19 8.66807 19 9.84961V14.1504C19 15.3314 18.9352 16.2123 18.7871 16.8789C18.6416 17.5339 18.429 17.9194 18.1748 18.1738C17.9205 18.4282 17.5351 18.6414 16.8799 18.7871C16.2132 18.9353 15.3319 19 14.1504 19H9.84961C8.66859 19 7.78769 18.9352 7.12109 18.7871C6.46605 18.6416 6.08059 18.429 5.82617 18.1748C5.57179 17.9205 5.3586 17.5351 5.21289 16.8799C5.06466 16.2132 5 15.3319 5 14.1504V9.84961C5 8.66859 5.0648 7.78769 5.21289 7.12109C5.35845 6.46605 5.57096 6.08059 5.8252 5.82617C6.07952 5.57179 6.46488 5.3586 7.12012 5.21289C7.78677 5.06466 8.66807 5 9.84961 5Z' stroke='rgb(224, 147, 147)' stroke-width='2'%3E%3C/path%3E %3Cpath d='M12.5969 5H14.1213C16.514 5 17.578 5.27605 18.1292 5.78711C18.6572 6.27676 18.9707 7.23095 18.9973 9.50293V9.50488C18.9988 9.61533 18.9983 9.72691 18.9983 9.84961V14.1504L18.9963 14.4727C18.9721 16.7571 18.6606 17.7174 18.1321 18.21C17.871 18.4532 17.4768 18.6574 16.8196 18.7969C16.1535 18.9382 15.2801 19 14.1213 19H12.5969C11.4097 19 10.5235 18.9355 9.85278 18.7871C9.19339 18.6412 8.8052 18.4277 8.54907 18.1729C8.29331 17.9182 8.07997 17.5325 7.93384 16.8779C7.78516 16.2118 7.71997 15.3313 7.71997 14.1504V9.84961C7.71997 8.6687 7.78516 7.78821 7.93384 7.12207C8.07997 6.4675 8.29331 6.08178 8.54907 5.82715C8.8052 5.57226 9.19339 5.35883 9.85278 5.21289C10.5235 5.06446 11.4097 5 12.5969 5Z' stroke='rgb(224, 147, 147)' stroke-width='2'%3E%3C/path%3E %3Cpath d='M15.2896 10.6162C16.0976 11.0834 16.5024 11.317 16.6384 11.621C16.7568 11.8866 16.7568 12.1906 16.6384 12.4562C16.5024 12.7602 16.0976 12.9938 15.2896 13.461L13.0736 14.741C12.264 15.2098 11.8592 15.4418 11.528 15.4082C11.2384 15.3778 10.9744 15.2258 10.8048 14.9906C10.6096 14.7202 10.6096 14.2546 10.6096 13.3202V10.7602C10.6096 9.82737 10.6096 9.36017 10.8048 9.08977C10.976 8.85457 11.2384 8.70257 11.528 8.67217C11.8608 8.63697 12.264 8.87057 13.0736 9.33777L15.2896 10.6162Z' fill='rgb(224, 147, 147)'%3E%3C/path%3E %3C/svg%3E");
  background-color: #fff3f6;
  border-color: #f3e0e0;
  color: #a95a5a;
  box-shadow: inset 0 1px 3px 0 rgba(146, 62, 62, .05);
}

.vk-video-tool__input[contentEditable=true][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.vk-video-tool__input[contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.vk-video-tool__input[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.vk-video-tool__progress {
  position: absolute;
  box-shadow: inset 0 1px 3px 0 rgba(102, 85, 107, 0.04);
  height: 100%;
  width: 0;
  background-color: #f4f5f7;
  z-index: -1;
}

.vk-video-tool__progress--loading {
  -webkit-animation: progress 500ms ease-in;
  -webkit-animation-fill-mode: forwards;
}

.vk-video-tool__progress--loaded {
  width: 100%;
}

.vk-video-tool__content {
  display: block;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff;
  color: initial !important;
  text-decoration: none !important;
}

.vk-video-tool__content::after {
  content: "";
  clear: both;
  display: table;
}

.vk-video-tool__content--rendered {
  background: #fff;
  border: 1px solid rgba(201, 201, 204, 0.48);
  box-shadow: 0 1px 3px rgba(0,0,0, .1);
  border-radius: 6px;
  will-change: filter;
  animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
}

.vk-video-tool__content--rendered:hover {
  box-shadow: 0 0 3px rgba(0,0,0, .16);
}

.vk-video-tool__content iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
  border: none;
}

@keyframes link-in {
  from {
    filter: blur(5px);
  }

  to {
    filter: none;
  }
}

@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}